@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  /* animation: black-white 100ms linear infinite; */
  height: 100vh;
  overflow: hidden;

}

a {
  text-decoration: none;
  color: black;
}

/*ШИЗОФРЕНИЯ */

 .name {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

h1 {
  font-size: 114px;
  /* animation: rotation 120ms linear infinite;  */

}

img {
  width: 4vw;
  height: 4vh;
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 50vh;
  transform: translateY(-50%); */
}

@keyframes black-white {
  0% {
    background-color: white;
  }
  10% {
    background-color: white;
  }


  100% {
    background-color: black;
  }
}


/* .load {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load 500ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
} */

@keyframes load {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(8deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-23deg);
  }
  50% {
    transform: rotate(10deg);
  }
  55% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(25deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
