@import "reset.css";

* {
  transition: all 400ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  overflow: hidden;


}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 114px;
  animation: size 3s ease infinite;
}

@keyframes size {
  0, 100% {
    font-size: 114px;
  }
  50% {
    font-size: 200px;
  }
}
