@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  animation: black-white 25s ease infinite;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.name {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 114px;
  color: white;
}

@keyframes black-white {
  0% {
    background-color: white;
  }

  65% {
    background-color: black;
  }

  100% {
    background-color: white;
  }
}
