@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  animation: black-white 25s ease infinite;
  height: 100vh;
  overflow: hidden;
}



.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forvard {
  width: 4vw;
  height: 4vh;
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 114px;
  color: white;
  transform: translateY(20%);

}

@keyframes black-white {
  0% {
    background-color: black;
  }

  65% {
    background-color: white;
  }

  100% {
    background-color: black;
  }
}


.load {
  background-color: white;
  width: 100vw;
  height: 100vh;
  animation: load 350ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

.load-2 {
  background-color: white;
  width: 100vw;
  height: 100vh;
  animation: load-2 700ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

@keyframes load {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes load-2 {

  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10000000%);
  }
}
