@import "reset.css";

* {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.b-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.box {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* animation: scary 800ms ease infinite; */
}

.forvard {
  width: 4vw;
  height: 4vh;
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 114px;
  animation: grow 10s ease infinite;
  margin-bottom: 0vh;
  margin-right: -1vh;
  /* animation: size 20s ease infinite; */
  animation: scary 800ms ease infinite;

}


@keyframes size {
  0, 100% {
    font-size: 90px;
  }
  50% {
    font-size: 200px;
  }
}

@keyframes scary {
  0,100% {
    transform: translate(52px,-23px);
  }
  10% {
    transform: translate(-25px,11px);
  }
  25% {
    transform: translate(19px,24px);
  }
  50% {
    transform: translate(-46px,-43px);
  }
  70% {
    transform: translate(3px,14px);
  }
  90% {
    transform: translate(-42px,-24px);
  }
}



.load {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load 350ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

.load-2 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load-2 700ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

@keyframes load {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes load-2 {

  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10000000%);
  }
}
