@import "reset.css";

* {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  overflow: hidden;
  height: 100vh
}

a {
  text-decoration: none;
  color: black;
}

.name {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
h1 {
  font-size: 10px;
  margin: 0;
  animation: grow 10s ease infinite;
}


@keyframes size {
  0, 100% {
    font-size: 114px;
  }
  50% {
    font-size: 200px;
  }
}
