@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  overflow: hidden;
  height: 100vh;
}

.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





h1 {
  font-size: 114px;
  transform: translateY(-10%);
}

.round {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 100%;
  right: 2vw;
  top: 40vh;
  animation: scale 1s linear infinite;

}



@keyframes scale {

  0% {
    transform: scale(25);
  }

  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }

}


/* .aaa {
  position: absolute;
   height: 10vh;

  height: 32.6vh;
  right: 1.5vw;
  left: 68vw;
  bottom: 42.7vh;
  margin-left: 0vw
}  */






.a {
  font-size: 18vw;

}

.aa {
  font-size: 28vw;
}


/* .aaa {
  font-size: 444px;
} */
















.forvard {
  width: 4vw;
  height: 4vh;
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load 350ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

.load-2 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load-2 700ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

@keyframes load {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes load-2 {

  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10000000%);
  }
}
