@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  height: 100vh;
  overflow: hidden;
}

.forvard {
  width: 4vw;
  height: 4vh;
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* */
.box {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

h1 {
  font-size: 114px;
  transform: translateY(20%);
  color: red;
  animation: rotation 120ms ease infinite;
}

.klepto {
  height: 80px;
  transform: translateY(20%);
}

.elements {
  position: absolute;
}
.e {
  position: absolute;
  /* height: 14px;
  left: 22vh;
  top: 16px; */
  height: 14px;
  left: -25.9vh;
  top: 10.2px;
  animation: e 5s ease-in infinite;
}

@media (max-width: 980px) {
  .e {
    height: 13.3px;
    left: -21.1vw;
    top: 10.2px;

    /* height: 13.3px;
    left: 17.7vw;
    top: 17px; */
  }
}

@keyframes e {

  60% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1000px);
  }
}


.a {
  position: absolute;
  height: 14px;
  left: 15.4vh;
  top: 27px;
  animation: a 5s ease-in infinite;
}

@media (max-width: 980px) {
  .a {
    height: 14px;
    left: 12.7vw;
    top: 27px;
  }
}

@keyframes a {

  40% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}

.h {
  position: absolute;
  height: 14px;
  left: 23.4vh;
  top: 13px;
  animation: h 5s ease-in infinite;
}

@media (max-width: 980px) {
  .h {
    height: 14px;
    left: 19.1vw;
    top: 13px;
  }
}

@keyframes h {

  45% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}


.load {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load 500ms ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

.load-2 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: load-2 1s ease normal;
  animation-delay: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

@keyframes load {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes load-2 {

  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10000000%);
  }
}
