@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(fonts/PartnerCondensed.otf) format('truetype');
}

body {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 114px;
  /* transform: translateY(20%); */
}

span {
  position: absolute;
  /* bottom: 10vh;
  right: 10vh; */
  font-size: 114px;
  /* margin-left: 1vw; */
  /* transform: translateY(20%); */
  /* transform-origin: -20% 85% 0px; */
  animation-delay: 200ms;
  animation: i 5s linear infinite;
}

@keyframes i {
  0% {
    bottom: 50vh;
    right: 30vw;
}
  80% {
    bottom: 10vh;
    right: 10vh;
}
  100% {
    bottom: 10vh;
    right: 10vh;
}
  /* 2% {
    transform: scale(1.5);
  }
  4% {
    transform: scale(1);
  }
  6% {
    transform: scale(1.5);
  }
  8% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  12% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.5);
  }
  16% {
    transform: scale(1);
  }
  18% {
    transform: scale(1.5);
  }
  20% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.5);
  }
  24% {
    transform: scale(1);
  }
  26% {
    transform: scale(1.5);
  }
  28% {
    transform: scale(1);
  }
  35% {
    transform: translateY(20vw);
  }
  40% {
    transform: scale(2);
    transform: translateY(20vw);
  }
    100% {
      color: red;
    transform: scale(2);
    transform: translateY(20vw);
  } */
}

/* .z {
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  animation: z 10s ease infinite;
}

@keyframes z {
  40% {

    transform: translate(0);
  }

  60% {

    transform: translate(-15vh,-15vh);
  }
} */

.forvard {
    width: 4vw;
    height: 4vh;
    position: absolute;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    width: 4vw;
    height: 4vh;
    position: absolute;
    left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }




  .load {
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation: load 350ms ease normal;
    animation-delay: 200ms;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-fill-mode: forwards;
  }

  .load-2 {
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation: load-2 700ms ease normal;
    animation-delay: 200ms;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-fill-mode: forwards;
  }

  @keyframes load {
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes load-2 {

    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-10000000%);
    }
  }
